.container{
    display: block;
    background: black;
    background-size: cover;
    align-items: center;
    width:100%;
    padding:0px 0px 50px 0px;
   
}

.xrow{ 
    display:flex;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap:wrap;
    margin-top:50px;
    text-align:center;
}
.box-yellow{
    width:500px;
    height:70px; 
    border-radius: 0px 10px 70px 0px;
    color:black;
    background: rgba(255,220,90,0.8);    
}
.box-yellow h1{
    text-align: center;
    font-size:3.5rem;
    font-weight:bolder;
    text-transform: uppercase;
    font-family:'squada One';
}

.card{
    flex:1;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    min-width:100px;
    max-width:500px; 
    background:none;
    color:white;  
}

.card img{
    border: 1px solid  rgba(255,220,90,0.8); 
    border-radius: 50%;
    width:200px;
    height:200px;
   
}
.card h4{
    font-family:'Kanit';
    font-size:2rem;
    text-align: center;
    text-transform: uppercase;
}


.card a:hover{
    background:lightskyblue;
    color: white;
    border: none;
}



@media (max-width:768px){

    .xrow{
        display:flex;
        flex-flow: column; 
        align-items: center;
        justify-content: space-around;
    }
    .box-yellow{
        width:100%;
        height:30px; 
        color:black;
        background: rgba(255,220,90,0.8);    
        border-radius:0px;
    }
    .box-yellow h1{
        text-align: center;
        font-size:1.5rem;
        text-transform: uppercase;;
    }

    .card{
        display: flex;
        flex-flow: column;
        align-items: center;
        align-content: center;
        /* height:180px; */
        width:400px;
        margin-top: 4%;
        background: rgba(0, 0, 0,0.2);
        color:white; 
        border:none;
      
    }
    .card-body{
        padding:5px 25px 0px 25px;
        text-align:center;
    }
    .card img{
        width:100px;
        height:100px;
        border: 0.5px solid darkgoldenrod;
        margin-top:8px;
    }
    .card h4{
        font-size:1rem;
        margin-bottom:2px;
        
    }
    .card p{
        font-size:0.6rem;
        margin-bottom:0px;
        padding: 10px 30px;
       
        
    }
    .card a{
        background:gray;
        color: rgb(255,220,90);
        border: 1px solid gray;
    }
    .card a:hover{
        background:darkgray;
        color: white;
        border: none;
    }

    
    


    
    
}