.bg-dark{
    opacity:80%;
}
.brand{
    text-transform:lowercase;
    margin-left:30px;
    color:rgb(255,220,90);
    font-size: 3rem;
    font-family: 'Squada One';
}

.nav-item a{
    font-size:0.9rem;
    text-transform: uppercase;
    color: white;
    margin-left:7px;
    margin-right:7px;
}

.nav-item a:hover{
    color: rgb(255,180,40);
   
}

.nav-item .active{

    color: rgb(185, 120, 10);
    border-bottom: 1.5px solid  rgb(185, 120, 10);
}

@media (max-width:768px){
    .navbar-nav{
        
        margin: 0 auto;   
        border-radius:5px;  
    }

    .navbar-nav .active{
        color:black;
        border-bottom:none;
        background:rgba(185, 120, 10,0.5) !important;
    }
    .navbar-nav a:hover{
        color:black;
        margin-top:5px;
    }
    .navbar-nav li{
        text-align:center;        
    }
}