<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-inner">
    <a class="brand navbar-brand" routerLink="">
        <h2>Narevi</h2>
    </a>
    <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" routerLink="#" routerLinkActive="active">Inicio <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="#" routerLinkActive="active">Nosotros</a>
        <a class="nav-item nav-link" routerLink="#" routerLinkActive="active">Servicios</a>
        <a class="nav-item nav-link" routerLink="#" routerLinkActive="active">Contacto</a>
    </div>   
</nav>