

<div class="container mw-100" #nosotros>
    <div class="box-yellow">
        <h1>Nosotros</h1>
    </div>
    <div class="main-content">
        
        <div class="row-container right">
           
            <div class="main-item">
                <div class="title-item">
                    <h1>Mision</h1>
                    <hr align="left">
                </div>
                <div class="body-item">
                    <p>Somos una organización que potencializa los servicios de capital humano a PYMEs y MYPEs en el marco de capacitación, selección de personal, coaching, consultoría y asesoría; estamos comprometidos a ofrecer soluciones antes la necesidades y demandas de nuestros clientes.</p>
                </div>
            </div>
        </div>
        
        <div class="row-container left">
            <div class="main-item">
                <div class="title-item">
                    <h1>Vision</h1>
                    <hr align="left">
                </div>
                <div class="body-item">
                    <p>Ser organización líder en asesoría y consultoría para PYMEs y MYPEs por la prestación de servicios perzonalizados que dan solución a las necesidades de nuestros clientes, con un crecimiento sólido en Sur del Perú.</p>
                </div>
            </div>
            
        </div>
    </div>
</div>

            
        
            
