<div class="container mw-100" #nosotros>
    <div class="image">
        <div class="box-yellow">
            <h1>Nosotros</h1>
        </div>
        
    </div>

    <div class="text">
        <div class="MainTitle">
            <h1>THINKING <br>OUTSIDE THE BOX</h1>
        </div>
        <div class="mision">
            <div class="title">
                <h2>MISION</h2>
            </div>
            <div class="text">
                <p>Somos una organización que potencializa los servicios de capital humano a PYMEs y MYPEs en el marco de capacitación, selección de personal, coaching, consultoría y asesoría; estamos comprometidos a ofrecer soluciones antes la necesidades y demandas de nuestros clientes.</p>
            </div>
        </div>
        <div class="vision">
            <div class="title">
                <h2>VISION</h2>
            </div>
            <div class="text">
                <p>Ser organización líder en asesoría y consultoría para PYMEs y MYPEs por la prestación de servicios perzonalizados que dan solución a las necesidades de nuestros clientes, con un crecimiento sólido en Sur del Perú.</p>
            </div>
        </div>
    </div>
</div>
