
.container{   
    display:flex;
    background-image: url("../../../assets/images/banner01.jpg");
    background-size: cover;
    align-items: center;
    height:100%;
    width:100%;
    z-index: -1;
}

.box-yellow{
    width:300px;
    height:70px; 
    color:black;
    background: rgba(255,220,90,0.8);    
}

.box-yellow h1{
    text-align: center;
    font-size:3rem;
    font-weight:bolder;
    text-transform: uppercase;;
}


.image{
    flex:1;
    background-position: center center;
    background-size: cover;
}

.text{
    flex:1;
    background-color: rgba(0,0,0,0.8);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: auto;
    border: 5rem 2.5rem;
    padding-top:20px;
    padding-bottom: 20px;
}

.MainTitle h1{ 
    flex:1;
    justify-items: space-around;
    color:rgb(255,220,90);
    text-align: center;
    font-weight: bolder;   
    height: 10rem;
}

 .title h2{
    font-size:3rem;
    font-weight:bolder;
    color:rgb(170, 170, 170);
    padding-right:5px;
   
}

.text p{
    flex:1;
    font-size:0.9rem;
    color:white;
    padding:20px 40px 20px 40px;
}
.mision{
    flex:3;
}
.vision{
    flex:3;
}