<!-- <router-outlet></router-outlet> -->
 <app-hero></app-hero>
<app-promo></app-promo>
<!-- <app-nosotros></app-nosotros> -->

<div class="container mw-100">
  <div class="box-yellow">
    <h1>Servicios</h1>
  </div>
  <div class="xrow ">
    
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/psicoaching.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Psicoaching</h4>
        <p class="card-text">es una terapia psicológica, dirigida a lideres de las empresas MYPES y PYMES para desarrollar habilidades blandas que les permitan potenciar el liderazgo que ejercen en sus equipos de trabajo para obtener los mejores resultados.</p>
        <a href="#" class="btn btn-warning">Leer más</a>
        
      </div>
    </div>       
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/capa01.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Capacitacion</h4>
        <p class="card-text">nuestra capacitación se divide en los Taller 60, con contenido creado por Narevi para quienes deseen obtener nuevos conocimientos y los Eventos Empresariales,  diseñados para las necesidades de cada cliente.</p>
        <a href="#" class="btn btn-warning">Leer más</a>
      </div>
    </div>
    <div class="card" >
      <img class="card-img-top" src="./../assets/images/taller60_01.jpeg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Gestión Empresarial</h4>
        <p class="card-text">abordamos consultorías en Planes de Negocios y Estratégicos, Marketing empresarial, Gestión de Personas, Atracción de Personal y aquellas que soliciten nuestros clientes.</p>
        <a href="#" class="btn btn-warning">Leer más</a>
      </div>
    </div>
        
  </div>               
</div>

         